<h1>All the companies</h1>

<%= link_to "new company", new_company_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Show</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= company.country %></td>
      <td><%= link_to "Show", company %></td>
      <td><%= link_to "Edit", edit_company_path(company) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
